
.navbar{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 2rem;
  background-color: #c1db66;
}
.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5rem; /* spacing between nav items */
  margin: 0;
  padding: 0;
}

.navbar .nav-item {
  display: flex;
}
.nav-home{
  margin-right: 600px;
}
a.nav-link {
  text-decoration: none;
  color: #ebf8f6;
  transition: color 0.3s ease;
}
